// Menu Section
.menu {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
  display: grid;
  grid-template-columns: 200px 1fr;
  border-bottom: 1px solid var(--tertiary);

  @media only screen and (max-width: 37.5em) {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 3.2rem;
  }

  @media only screen and (max-width: 56.25em) {
    grid-template-columns: 100px 1fr;
  }

  @media only screen and (max-width: 75em) {
    padding: 3.2rem;
  }

  &__nav {
    padding: 6.4rem 3.2rem;

    @media only screen and (max-width: 37.5em) {
      padding: 2.4rem 1.6rem;
    }

    @media only screen and (max-width: 56.25em) {
      padding: 6.4rem 1.6rem;
    }

    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      row-gap: 2.4rem;

      @media only screen and (max-width: 37.5em) {
        flex-direction: row;
        justify-content: space-around;
      }
    }

    li {
      @media only screen and (max-width: 37.5em) {
        min-width: 7rem;
      }
    }

    .btn {
      text-transform: uppercase;
      font-size: 1.6rem;
      color: var(--primary);
      letter-spacing: 0.1rem;
      width: 100%;
      transition: var(--transition);
    }

    .btn--active,
    .btn:hover {
      box-shadow: -2px 0 var(--secondary);
      color: var(--secondary);
    }
  }

  &__products {
    padding: 0 8rem;

    @media only screen and (max-width: 37.5em) {
      padding: 0;
    }

    @media only screen and (max-width: 75em) {
      padding: 0 2.4rem;
    }
  }
}

// Menu products
.products {
  padding-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 3.2rem;

  @media only screen and (max-width: 56.25em) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}

.product {
  width: 20rem;
  display: flex;
  flex-direction: column;
  row-gap: 1.2rem;
  align-items: center;

  img {
    height: 17rem;
    width: 17rem;
    object-fit: cover;
  }

  p {
    text-align: center;
    min-height: 6.2rem;
  }

  div {
    padding: 1rem 1.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}

// Filters
.filters {
  display: flex;
  column-gap: 2.6rem;
  justify-content: space-around;
  align-items: center;

  ul {
    display: flex;
    column-gap: 4.8rem;
    justify-content: center;
    flex: 60%;

    @media only screen and (max-width: 37.5em) {
      justify-content: stretch;
      column-gap: 1.8rem;
      overflow-x: auto;
      padding: 1.6rem 0;
    }

    @media only screen and (max-width: 56.25em) {
      padding-right: 0;
      column-gap: 1.6rem;
    }
  }

  li {
    white-space: nowrap;
  }

  .btn {
    text-transform: uppercase;
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    color: var(--tertiary);
    letter-spacing: 0.1rem;
    transition: var(--transition);
  }

  .btn--active,
  .btn:hover {
    color: var(--primary);
  }
}

.sort-btns {
  display: flex;
  column-gap: 1.2rem;
}

// Pagination
.pagination {
  text-align: center;
  margin: 2.4rem 0 1.4rem 0;

  .btn {
    margin: 0 0.5rem;
  }
}
