.testimonials {
  padding: 3.2rem 1.2rem 1.2rem 1.2rem;
  overflow-x: hidden;

  @media only screen and (max-width: 56.25em) {
    width: 60rem;
  }

  @media only screen and (max-width: 37.5em) {
    width: 40rem;
  }

  &__inner {
    height: 18rem;
    width: 100%;
    position: relative;
    display: flex;

    @media only screen and (max-width: 37.5em) {
      height: 26rem;
    }
  }
}

.testimonial {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1rem;
  border: 1px solid var(--secondary);
  border-radius: 2rem;
  padding: 1.6rem 3.2rem;
  transition: var(--transition);

  @media only screen and (max-width: 37.5em) {
    padding: 2rem 3.2rem;
    display: flex;
    flex-direction: column;
  }

  .icon {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 2.8rem;
    color: var(--secondary);
  }

  &__img {
    position: relative;
    height: 10rem;
    width: 10rem;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: var(--light-shadow);

    img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;

    @media only screen and (max-width: 37.5em) {
      transform: translateY(-2.4rem);
    }
  }

  &__products {
    color: var(--tertiary);
    font-style: italic;
    margin-top: 1.2rem;
  }
}

.testimonial.activeSlide {
  opacity: 1;
  transform: translateX(0);
}
.testimonial.lastSlide {
  transform: translateX(-100%);
}
.testimonial.nextSlide {
  transform: translateX(100%);
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 157, 126, 0.3);
  border-radius: 50%;
}

.left,
.right {
  position: absolute;
  top: 50%;
}

.left {
  left: 0;
  transform: translate(-50%, -50%);
}

.right {
  right: 0;
  transform: translate(50%, -50%);
}
