.questions {
  @media only screen and (max-width: 56.25em) {
    max-width: 50rem;
  }
}

.question {
  border: 1px solid var(--secondary);
  border-radius: 2rem;
  padding: 1.6rem 3.2rem;

  &:not(:last-of-type) {
    margin-bottom: 1.2rem;
  }

  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 1.4rem;
    column-gap: 1rem;
  }

  p {
    -webkit-transition: var(--transition);
    transition: var(--transition);
  }
}
