:root {
  --primary: #696969;
  --secondary: #ff9d7e;
  --tertiary: #a5a5a5;

  --white: #fff;

  --transition: all 0.3s linear;

  --radius-big: 20%;
  --radius-small: 10%;

  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
